body {
  margin: 0px;
  font-family: "Rubik", sans-serif;
}

/* I am having some issue with h1 tag. It was showing smaller the h2. So I added css for h1 default css value */
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 24px;
}

.mega-box {
  width: 80%;
  margin: auto;
}

.first-section {
  display: flex;
  padding: 200px 0px;
}

.half-section {
  width: 50%;
}

.header {
  font-size: 60px;
  margin: 0px;
  line-height: 80px;
}

.colorful-header {
  color: #564de8;
}

#header-text {
  border-left: 5px solid;
  border-image: linear-gradient(#0b0575, #7a74e0);
  border-image-slice: 1;
  padding-left: 30px;
}

.btn {
  padding: 15px 30px;
  background-color: #5148e5;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

.text-box {
  width: 70%;
  margin: 15px 0px 50px 0px;
}

#header-tagline {
  margin-top: 40px;
}

.second-div {
  text-align: center;
}

.second-div img {
  width: 60%;
}

.my-mission {
  text-align: center;
}

.missions {
  display: flex;
}

.onebythird {
  width: 31%;
  margin: 20px;
  border-radius: 16px;
  text-align: center;
  padding: 50px 30px;
  color: rgb(63, 63, 63);
}

.onebythird img {
  width: 150px;
}

.first {
  background-color: #edf5f6;
}
.second {
  background-color: #ffeeee;
}

.third {
  background-color: #fff4d6;
}
