body {
  margin: 0px;
  font-family: "Rubik", sans-serif;
}

/* I am having some issue with h1 tag. It was showing smaller the h2. So I added css for h1 default css value */
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.mega-box {
  width: 80%;
  margin: auto;
}

.first-section {
  display: flex;
  padding: 100px 0px;
}

.half-section {
  width: 50%;
}

.header {
  font-size: 60px;
  margin: 0px;
  line-height: 80px;
}

.colorful-header {
  color: #564de8;
}

#header-text {
  border-left: 5px solid;
  border-image: linear-gradient(#0b0575, #7a74e0) 1;
  padding-left: 30px;
}
